* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.main {
  height: 100%;
  max-width: 360px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    margin-top: 20px;
    text-align: center;
  }
}

.footer {
  max-width: 360px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}